//ver diseno
//explicar estructura completa
//hacer header
//hacer footer
//hacer plantilla
//pegar en todas las otras paginas

//Variables
$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$color-primario: #0C122C;
$color-secundario: #8841DA;
$color-variacion: #3f579a;
$color-claro: #FFF;

body{
	background-color: $color-primario;
	color: $color-claro;
}