//ver diseno
//explicar estructura completa
//hacer header
//hacer footer
//hacer plantilla
//pegar en todas las otras paginas

//Variables
$font:'Raleway', sans-serif;
$color-primario: #0C122C;
$color-card:#1E2C69;
$color-barra: #141F4B;
$color-barra-color1:#FF9F96;
$color-barra-color2:#FF5196;
$color-claro: #FFF;
$color-alternativo: #8B8A90;

body{
	color: $color-claro;
	// background-color: red;
	background-image: url("../../images/bg-mobile.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: $font;
}

