.main{
    // background-color: rgba(255, 0, 0, 0.259);
    max-width: 450px;
    margin: 0 auto;
    @include media(tablet){
        max-width: 768px;
    }
    @include media(desktop-s){
        max-width: 990px;
    }
    @include media(desktop-m){
        max-width: 1200px;
    }
    @include media(desktop-l){
        max-width: 1400px;
    }
}
.background{
	@include media(desktop-m){
		background-image: url("../../images/bg-desktop.png");
		position: fixed;
		z-index: -1;
        background-size: cover;
		// background-color: red;
		left: 0;
		width: 100%;
		height: 50%;
		top: 100%;
		transform: translate(0,-100%);

	}
}

.main__contaner{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 1.1rem);
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    // background-color: green;
    padding: 1rem;
    // background-color: rgba(0, 128, 0, 0.163);

    &__items{
        position: relative;
        // background-color: blue;
        height: calc(20rem - 2rem);
        width: 100%;

        &__card{
            position: absolute;
            width: 100%;
            height: 70%;
            background-color: $color-card;
            border-radius: 10px;
            
            //=================== card 1 ================================================
            &--upload{
                top: 100%;
                transform: translate(0,-100%);
                border-radius: 10px 110px 10px 10px;
                display: flex;
                flex-direction: column;
                gap: 15%;
                justify-content: center;
                padding: 0 2.5rem;

                & img{
                    width: 9rem;
                    @include media(desktop-m){
                        width: 14rem;
                    }
                }

                @include media(tablet){
                    top: 50%;
                    transform: translate(0,-50%);
                }
                @include media(desktop-m){
                    height: 100%;
                }
                @include media(desktop-l){
                    width: 85%;
                }
            }
            &__options{
                display: flex;
                gap: 5%;
            }


            //=================== card 2 ================================================

            &--charge{
                height: 60%;

                & h3{
                    font-size: .9rem;
                    font-weight: 400;
                    padding: 1.5rem  3rem 0 3rem;

                    & span{
                        font-weight: 700;
                    }
                    @include media(desktop-m){
                        font-size: 1.2rem;
                    }
                }
                @include media(tablet){
                    top: 50%;
                    transform: translate(0,-42%);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                @include media(desktop-m){
                    height: 80%;
                    top: 100%;
                    transform: translate(0,-100%);
                }

            }

            &__barra{
                height: 1.4rem;
                width: 85%;
                margin: .7rem auto;
                border-radius: 50px;
                background-color: $color-barra;
                position: relative;

                &--color{
                    position: absolute;
                    height: 1rem;
                    width: 75%;
                    border-radius: 50px;
                    background: linear-gradient(to left,$color-barra-color2, $color-barra-color1);
                    top: 50%;
                    left: 1%;
                    transform: translate(0 , -50%);

                    & svg{
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        transform: translate(-85% , -50%);
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            &--peso{
                // background-color: red;
                width: 85%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                font-size: 0.9rem;
            }
        }
        &--triangle{
            @include media (tablet){
                position: absolute;
                top: 18%;
                left: 73.3%;
                border-right: 35px solid $color-claro;
                border-top: 35px solid $color-claro;
                border-left: 35px solid transparent;
                border-bottom: 35px solid transparent;
            }
            @include media (desktop-s){
                left: 78%;
            }
            @include media(desktop-m){
                left: 79.8%;
            }
        }
        &--velocidad{
            position: absolute;
            display: flex;
            top: 45%;
            left: 50%;
            transform: translate(-50%, 0);
            border-radius: 10px;
            background-color: $color-claro;
            width: 60%;
            justify-content: center;
            gap: 1rem;
            align-items: center;

            & h3{
                color: black;
                font-size: 3rem;
                font-weight: 700;
                text-align: center;
            }

            & span{
                font-size: 1rem;
                color: $color-alternativo;
                font-weight: 700;
            }

            @include media(tablet){
                top: 5%;
                left: 63%;
            }
            @include media (desktop-s){
                left: 70.5%;
                width: 45%;
            }
            @include media(desktop-m){
                width: 40%;
                height: 30%;
                top: 0;
                left: 72%;
            }
            @include media(desktop-m){
                left: 72.3%;
                width: 14rem;
            }
            @include media(desktop-l){
                left: 73.2%;
            }
        }
        
    }

    @include media(tablet){
        display: flex;
        flex-direction: row;
    }
    @include media(desktop-l){
        padding: 4rem;
        gap: 0;
    }
    
}

.btn-principal{
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    background-color: $color-primario;
    border-radius: 10px;
    border: none;

    & input[type="file"]{
        display: none;
        visibility: hidden;
        position: absolute;
    }
    & img{
        position: absolute;
        width: 1.5em;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include media(desktop-m){
            // height: 2.5rem;
            width: 2.5rem;
        }
    }

    & label{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        cursor: pointer;
        // background-color: rgba(255, 0, 0, 0.344);
    }
    @include media(desktop-m){
        height: 5rem;
        width: 5rem;
    }
}